extends baseTemplate

block content 
  h3.heading-primary
    span List Of Courses
  table.table-header
    thead
      tr
        th(scope='col') #
        th(scope='col') Course Name
        th(scope='col') Instructor
        th(scope='col') Start Date
        th(scope='col') Description
    tbody
      tr.table-secondary
        th(scope='row') 1
        td Mark
        td Otto
        td @mdo
        td @mdo
      tr
        th(scope='row') 2
        td Jacob
        td Thornton
        td @fat
        td @mdo
      tr.table-secondary
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
        td @mdo
      tr
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
        td @mdo
      tr.table-secondary
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
        td @mdo
      tr
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
        td @mdo
      tr.table-secondary
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
        td @mdo
      tr
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
        td @mdo
      tr.table-secondary
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
        td @mdo
      tr
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
        td @mdo
      tr.table-secondary
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
        td @mdo
      tr
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
        td @mdo