extends baseTemplate

block content 
  main.main
    .card-container
      .card
        .card__header
        .card__details
          h4.card__sub-heading New User 
          p.card__text
            | Please enter the following Details
          .card__data
            svg.card__icon
              use(xlink:href='img/icons.svg#icon-map-pin')
            form(action='/api/v1/users/signup' method='post')
              label(for='name') Full name:
              input#name(type='text' name='name')
              br
              br
              label(for='email') Email:
              input#email(type='email' name='email')
              br
              br
              label(for='role') Role:
              br
              input#html(type='radio' name='role' value='user')
              label(for='role') User
              br
              input#html(type='radio' name='role' value='staff')
              label(for='role') Staff
              br
              input#html(type='radio' name='role' value='student')
              label(for='role') Student
              br
              input#html(type='radio' name='role' value='admin')
              label(for='role') Admin
              br
              br
              label(for='password') Password:
              input#password(type='password' name='password')
              br
              br
              label(for='passwordConfirm') Confirm Password:
              input#passwordConfirm(type='password' name='passwordConfirm')
              br
              br
              input.card__sub-heading(type='submit' value='Submit')